*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  height: 100vh;
  background-image: linear-gradient(135deg, #bde0fe 20%, #ffc8dd);
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.main-container .left {
  width: 300px;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
}

.main-container .left h1 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.main-container .left .ball.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
}

.main-container .left .ball.container .ball {
  background: #ffc8dd;
  border-radius: 50%;
  border: 1px solid #bde0fe;
  margin: 1%;
}

.main-container .left .ball.container .ball:hover {
  background: #bde0fe;
  border: #ffc8dd;
}

.main-container .left .ball.container .ball.one {
  height: 20px;
  width: 20px;
}

.main-container .left .ball.container .ball.two {
  width: 30px;
  height: 30px;
  margin-left: 22%;
}

.main-container .left .ball.container .ball.three {
  width: 40px;
  height: 40px;
  margin-left: 48%;
}

.main-container .left .ball.container .ball.four {
  width: 50px;
  height: 50px;
  margin-left: 80%;
}

.main-container .form.register {
  background: #a2d2ff;
}

.main-container .left.register {
  background: #ffafcc;
}

.main-container .form {
  width: 350px;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.main-container .form .form-inside-container {
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-container .form .form-inside-container label {
  font-size: 20px;
  margin: 10px;
}

.main-container .form .form-inside-container input {
  height: 35px;
  border-radius: 10px;
  border: none;
  opacity: 0.4;
}

.main-container .form .form-inside-container button {
  margin-top: 30px;
}

.main-container .form .form-inside-container .form-small-text {
  margin-top: 3px;
  text-align: center;
  font-size: 13px;
}
/*# sourceMappingURL=main.css.map */