@mixin form {
    width: 350px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;

    .form-inside-container {
        height: 350px;
        display: flex;
        flex-direction: column;

        label {
            font-size: 20px;
            margin: 10px;
        }
        input {
            height: 35px;
            border-radius: 10px;
            border: none;
            opacity: 0.4;
        }

        button {
            margin-top: 30px;
        }
        .form-small-text{
            margin-top: 3px;
            text-align: center;
            font-size: 13px;
        }
    }

}


